/* GLOBAL */

:root {
    --hightlight-one: #fef200;
    --hightlight-two: #fef200;
    --defualt-tone: #201750;
    --tone-two: #f6f5f1;
}

@font-face {
    font-family: "Helvetica Roman";
    src: url("/src/fonts/HelveticaLTStd-Obl.woff") format("woff"), url("/src/fonts/HelveticaLTStd-Obl.woff2") format("woff2");
}

@font-face {
    font-family: "Helvetica Regular";
    src: url("/src/fonts/HelveticaLTStd-Roman.woff.woff") format("woff"), url("/src/fonts/HelveticaLTStd-Roman.woff2") format("woff2");
}

@keyframes slide {
    from {
        left: -150%;
    }
    to {
        left: 50%;
    }
}

body {
    color: #448FA3;
    font-family: "Helvetica Regular";
    line-height: 1.3em;
}

h1,
h2,
h3,
h4,
h5,
a {
    font-family: 'Staatliches', cursive;
}

h3 {
    font-size: 2.5em;
    line-height: 2em;
}


/* STRUCTURE */

.container {
    display: flex;
    flex-wrap: nowrap;
    margin: 0 5%;
    padding: 2% 0;
}

.mg-1 {
    margin: 1%;
}

.container-fw {
    display: flex;
    flex-wrap: wrap;
}

.header-container {
    height: 95vh;
    background-image: linear-gradient(to top, rgba(0,0,0,0.65), rgba(0,0,0,0.2));
}

.header-container div {
    position: sticky;
    text-align: center;
    z-index: 0;
    color: white;
    top: 50%;
    width: 42%;
    left: 50%;
    transform: translate(-50%, -60%);
    
}

.fl-1 {
    width: 100%
}

.fl-2 {
    width: 50%;
}

.fl-3 {
    width: 33%;
}

.fl-4 {
    width: 25%;
}

.text-box {
    padding: 1em 2em;
}

.box {
    padding: 1%;
    text-align: center;
}


/* MENU */

.header-parent {
    position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;
    z-index: 3;
}

header ul {
    display: flex;
    list-style-type: none;
    overflow: hidden;
    padding: 2% 5%;
    background-color: transparent;
    transition: ease 0.7s;
}

footer {
    padding: 1%;
}

footer ul {
    list-style-type: none;
    padding: 5% 10%;
    min-height: 20vh;
    transition: ease 0.7s;
    padding-left: 0;
}

footer ul li {
    background-color: var(--hightlight-one);
    margin: 0;
    margin-bottom: 0.5em;
    color: var(--defualt-tone);
    padding: 2%;
    transition: all 0.7s;
}

footer ul a {
    text-decoration: none;
}

footer ul li:hover {
    background-color: var(--tone-two);
    color: var(--defualt-tone);
    transition: all 0.7s;
}

header ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: all 0.2s;
    width: 5em;
}

header ul li a:hover {
    color: var(--hightlight-one);
    transition: all 0.2s;
}

header ul li:first-child {
    margin-right: auto;
}

.shrink {
    padding: 1% 5%;
    background-color: var(--defualt-tone);
    transition: ease 0.7s;
}

.shrink a {
    color: white;
}

.shrink a:hover {
    color: var(--hightlight-one);
}

.copyright {
    text-align: center;
    padding: 1%;
    background-color: var(--hightlight-one);
    color: var(--defualt-tone);
    font-size: 0.7em;
}


/* IMGS */

.header-container video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    top: 0;
    z-index: -2;
    position: fixed;
}

.img-mg img {
    width: 100%;
    transition: ease-in 0.2s;
}

.img-mg img:hover {
    transition: ease-out 0.2s;
}

.img-fw img {
    width: 100%;
    height: 100%;
    transition: ease-out 0.2s;
}

.img-fw img:hover {
    transition: ease-in 0.2s;
}

.img-hv {
    transition: all 0.7s;
    display: inline-block;
    position: relative;
}

.img-hv img {
    height: 100%;
    transition: all 0.7s;
}

.img-hv video {
    width: 100%;
    transition: all 0.7s;
}

.img-overlay-content {
    visibility: hidden;
    transition: visibility 0s, opacity 0.5s linear;
    opacity: 0;
    text-align: center;
    margin: 0 auto;
}

.img-overlay {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.7s;
    cursor: pointer;
}

.img-hv:hover .img-overlay {
    background-color: var(--defualt-tone);
    transition: all 0.7s;
}

.img-overlay:hover .img-overlay-content {
    visibility: visible;
    opacity: 1;
}

#dark-content .img-hv:hover .img-overlay {
    background-color: var(--hightlight-one);
    transition: all 0.7s;
}

header ul.shrink li a img#stacked {
    display: none;
}

header ul li a img#long {
    display: none;
}

header ul.shrink li a img#long {
    display: inline-block;
}


/* STYLES */

footer h5 {
    color: white;
    font-size: 2em;
}

.txt-black {
    color: black;
}

.txt-white {
    color: white;
}

.txt-purp {
    color: var(--defualt-tone);
}

.txt-yellow {
    color: var(--hightlight-two);
}

.burrito {
    background-image: url('https://www.guzmanygomez.com/wp-content/uploads/2018/05/gyg-burrito.jpg');
    background-size: cover;
    background-position: center center;
}

.wood {
    background-image: url('https://images.pexels.com/photos/347139/pexels-photo-347139.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

.socials ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.socials ul a {
    background-color: var(--hightlight-one);
    border: 1px solid transparent;
    margin: 1%;
    padding: 2%;
    text-decoration: none;
    color: var(--defualt-tone);
    transition: all 0.4s;
    text-align: center;
}

.socials ul a:hover {
    background-color: transparent;
    border: 1px solid var(--hightlight-one);
    color: var(--hightlight-one);
    transition: all 0.4s;
}

.canvas {
    background-image: url('/img/site-bg.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.esports {
    background-image: url('/img/esports-bg.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.cream {
    background-color: var(--tone-two);
}

.white {
    background-color: white;
}

.purp {
    background-color: var(--defualt-tone);
}

.yellow {
    background-color: var(--hightlight-one);
}

.white {
    color: var(--defualt-tone);
}

.footer {
    background-color: var(--defualt-tone);
}

.pad-1 {
    padding: 1%;
}

.bg-blue {
    background-color: hsla(188, 64.19%, 92.55%, 1.00);
    color: var(--defualt-tone);
    transition: all 0.5s;
}

.bg-blue:hover {
    background-color: var(--defualt-tone);
    color: var(--hightlight-one);
    transition: all 0.5s;
    cursor: pointer;
}


/* BUTTONS */

.btn {
    text-decoration: none;
    transition: all 0.5s;
    font-family: 'Staatliches', cursive;
    font-size: 1.2em;
}

.btn-purp {
    color: var(--defualt-tone);
    border: 1px solid var(--defualt-tone);
}

.btn-purp:hover {
    color: #ffffff;
    background-color: var(--defualt-tone);
    transition: all 0.5s;
}

.btn-black {
    color: #000000;
    border: solid 1px #000000;
}

.btn-black:hover {
    color: #ffffff;
    background-color: #000000;
    transition: all 0.5s;
}

.btn-white {
    border: 1px solid white;
    color: white;
}

.btn-white:hover {
    color: var(--defualt-tone);
    background-color: white;
}

.btn-box {
    padding: 2%;
    line-height: 5em;
}

.box img {
    width: 8em;
}

.btn-drink {
    color: var(--defualt-tone);
    border: 1px solid var(--defualt-tone);
    width: 100%;
    transition: all 0.5s;
}

.bg-blue:hover .btn-drink {
    color: var(--hightlight-one);
    border: 1px solid var(--hightlight-one);
    transition: all 0.5s;
}

.bg-blue:hover .btn-drink:hover {
    color: var(--defualt-tone);
    background-color: var(--hightlight-one);
    transition: all 0.5s;
}

.img-overlay-content {
    color: var(--hightlight-one);
    transition: all 0.7s;
}

#dark-content .img-overlay-content {
    color: var(--defualt-tone);
    transition: all 0.7s;
}

.btn-portfolio {
    color: var(--hightlight-one);
    border: 1px solid var(--hightlight-one);
    padding: 0.2em 2em;
}

.btn-portfolio:hover {
    color: var(--defualt-tone);
    background-color: var(--hightlight-one);
}

#dark-content .btn-portfolio {
    color: var(--defualt-tone);
    border: 1px solid var(--defualt-tone);
    padding: 0.2em 2em;
}

#dark-content .btn-portfolio:hover {
    color: var(--hightlight-one);
    background-color: var(--defualt-tone);
}

@media only screen and (max-width: 1920px) {
    .header-container h2 {
        padding: .2em .5em;
    }
}

@media only screen and (max-width: 600px) {
    .fl-2 {
        width: 100%;
    }
    .fl-3 {
        width: 100%;
    }
    .fl-4 {
        width: 100%;
    }
    .header-container {
        height: 50vh;
    }
    .header-container div h2 {
        padding: 0;
    }
    .header-container div {
        top: 15%;
        left: 50%;
        transform: translate(-50%, -15%);
    }
    .container {
        flex-wrap: wrap;
    }
    .mg-1 {
        margin: 2%;
    }
    .img-overlay-content {
        opacity: 1;
        visibility: visible;
        padding: 1em;
        color: white;
    }
    .header-container div h4 {
        color: white;
        margin-top: 10%;
        line-height: 1em;
    }
    #dark-content .img-overlay-content {
        opacity: 0;
    }
}